<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Agregar nuevo usuario</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    a{
    color:white;
    }
    a:hover {
    color: black;
    text-decoration:none;
    }
</style>
</head>
<body>

<div class="container">
  <p th:inline="text" class="text-right">User: [[${#httpServletRequest.remoteUser}]]</p>
  <button type="button" class="btn btn-danger" style="float:right"><a th:href="@{/logout}">Cerrar Sesión</a></button>
  <h1> Agregue aqui los datos del usuario</h1>
  <br>

  <form th:action="@{/GuardarUsuario}" th:object="${user}" method="post">
    <!--Nombre-->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="nombre">Nombre:</label>
        <div class="col-md-6">
          <input type="text" th:field="*{firstName}" class="form-control" id="nombre" required="required"></div>
      </div>
    </div>

    <!--Apellidos-->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="Apellidos">Apellidos:</label>
        <div class="col-md-6">
          <input type="text" th:field="*{lastName}" class="form-control" id="apellidos" required="required"></div>
      </div>
    </div>

    <!--Campo para telefono-->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="telefono">Telefono:</label>
        <div class="col-md-6">
          <input type="text" th:field="*{phoneNumber}" class="form-control" id="telefono" required="required"></div>
      </div>
    </div>

    <!--Correo electronico-->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="correo">Correo electronico:</label>
        <div class="col-md-6">
          <input type="text" th:field="*{emailAddres}" class="form-control" id="correo" required="required"></div>
      </div>
    </div>
    <!--Descripcion-->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="direccion">Direccion:</label>
        <div class="col-md-6">
          <input type="text" th:field="*{addres}" class="form-control" id="direccion" required="required"></div>
      </div>
    </div>

    <!--Campo para Rol-->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="rol">Rol:</label>
        <div class="col-md-6">
          <select th:field="*{role}" class="form-control" id="rol" required="required">
            <option th:value='ROLE_ADMIN'>Administrativo</option>
            <option th:value='ROLE_USER'>Operativo</option>
          </select>
        </div>
      </div>
    </div>

    <!--Campo para contraseña-->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="password">Contraseña del empleado:</label>
        <div class="col-md-6">
          <input type="password" th:field="*{password}" class="form-control" id="password" required="required"></div>
      </div>
    </div>

    <!--Campo para Estado-->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="estado">Estado:</label>
        <div class="col-md-6">
          <select th:field="*{state}" class="form-control" id="estado" required="required">
            <option th:value=1>Activo</option>
            <option th:value=0>Inactivo</option>
          </select>
        </div>
      </div>
    </div>


    <!--Boton para enviar información -->
    <div class="row">
      <div class="col-md-2">
        <button class="btn btn-success">Crear Usuario</button>
      </div>
    </div>

  </form>

  <br>
  <a href="javascript: history.go(-1)" class="btn btn-info" role="button">Volver</a>

</div>
</body>
</html>